<div id="floating-panel">
  <button (click)="toggleHeatmap()">Toggle Heatmap</button>
  <button (click)="changeGradient()">Change gradient</button>
  <button (click)="changeRadius()">Change radius</button>
  <button (click)="changeOpacity()">Change opacity</button>
  <div id="style-selector-control" class="map-control">
    <select id="style-selector" class="selector-control">
      <option value="default">Default</option>
      <option value="silver">Silver</option>
      <option value="night">Night mode</option>
      <option value="retro" selected="selected">Retro</option>
      <option value="hiding">Hide features</option>
    </select>
  </div>
</div>
<div id="map"></div>